/*:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* HEADER */
header {
  border-bottom: 1px solid #ddd;
  background-color: #e0ab90;
  padding: 1rem;
}
/* FOOTER */
footer {
  border-top: 1px solid #ddd;
  background-color: #e0ab90;
  padding: 1rem;
}

footer p {
  text-align: center;
  color: #555;
  margin: 15px 0px 0px 0px;
}
nav {
  text-align: center;
}
