/*:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* HEADER */
.navbar {
  border-bottom: 1px solid #ddd;
  background-color: #ddeb9d;
  padding: 1rem;
}
/* FOOTER */
footer {
  border-top: 1px solid #ddd;
  background-color: #ddeb9d;
  padding: 1rem;
}
footer p {
  text-align: center;
  color: #555;
  margin: 15px 0px 0px 0px;
}
nav {
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  background-color: #faf6e9;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.hero-image {
  width: 40%;
}
.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 5%;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  background-color: #d0d3ea;
  border-radius: 5%;
  height: 100%;
}
.recipe-card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 5%;
}
.recipe-card-text {
  padding: 16px;
}
.recipe-card-row {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  gap: 16px;
  justify-content: center;
}
.featured-recipes-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-recipes-header button {
  position: absolute;
  right: 2rem;
}
/* NEWSLETTER */
.newsletter {
  padding: 16px;
  text-align: center;
  background-color: #cbe7e9;
}
